/**************************************************************************************************
 *
 *  @Section: Card - Posts
 *
***************************************************************************************************/
.item {

	&.card-post-post,
	&.grid-post-post {
		position: relative;
		margin-bottom: 10px;
		padding: 0;
		overflow: hidden;

		a.item-link {
			width: 100%;

			&:hover,
			&:focus,
			&:active {

				.image-container {

					img { @include opacity(0.8); }
				}
			}	
		}

		.image-container {
			margin: 0 10px;
			@include aspect-ratio(16,9,true);
		}

		.description {
			display: block;
			width: 100%;
			padding: 10px;
			z-index: 1010;

			h3 { margin: 0; }
		}
	}
}

@media only screen and (min-width: $breakpoint) {


}
