/**************************************************************************************************
 *
 *  @Section: Footer
 *
***************************************************************************************************/
footer {
	padding: 20px 0;
	min-height: 80px;
	color: $white;
	background-color: $dark-main-color;
	@include font-size(1.4);

	.copyright {
		margin: 10px 0;
	}

	.nav-footer {
		position: relative;

		li {
					
			a {
				color: $white;
				margin: 0;
				font-family: $font-heading;
				font-weight: 200;
				text-transform: uppercase;

				&:hover,
				&:focus,
				&:active { color: $second-color; }

				&:after {
					content: '|';
					display: inline-block;
					position: absolute;
					margin-left: 5px;
					color: $second-color;
				}
			}

			&:last-child a:after { display: none; }

			&.current-menu-item {

				a { color: $second-color; }
			}
		}
	}
}

@media only screen and (max-width: $breakpoint) {

	footer {
		padding-top: 20px;
		min-height: 60px;
		text-align: center;
		color: $white;
		background-color: $dark-main-color;
	}
}
