/**************************************************************************************************
 *
 *  @Section: Global
 *
***************************************************************************************************/
html { font-size: 62.5%; }

body {
	font-family: $font-default;
  color: $default-text;
	@include font-size(1.5);
}

.desktop { display: none; }

.mobile { display: block; }

%text-field {
  display: inline-block;
  width: 100%;
  padding: 5px 10px;
  outline: none;
  text-decoration: none;
  color: $second-color;
  background-color: rgba($light-gray, 0.1);
  border: none;
  border-bottom: solid 2px $second-color;  
  @include transition(all);
  @include rounded();

  &:focus,
  &.focus {
    color: $light-second-color;
    background-color: rgba($light-gray, 0.075);
    border-bottom: solid 2px $light-second-color;
  }
}

a {
  text-decoration: none;
  display: inline-block;
  color: $link-text;
  @include transition;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: $link-text-hover;

    .thumb { outline: 1px solid $link-text-hover; }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  font-weight: 400;
}

h1 { @include font-size(2.4); }
h2 { @include font-size(2); }
h3 { @include font-size(1.8); }
h4 { @include font-size(1.6); }
h5 { @include font-size(1.4); }

p { margin: 0 0 10px; }

img {
  display: block;
  width: 100%;
  height: auto;

  &.alignleft,
  &.alignright,
  &.aligncenter,
  &.alignnone {
    width: auto;
    display:inline-block;
  }

  &.alignleft { 
    float: left;
    margin-right: 20px;
  }

  &.alignright { 
    float: right;
    margin-left: 20px;
  }

  &.aligncenter {
    display: block;
    margin: 10px auto;
  }
}

hr { border-top: 1px solid rgba($border-gray, 0.25); }

.content-area {
  margin-top: 60px;
  min-height: 500px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 { margin: 20px 0 10px; }
}

.btn {
  margin-bottom: 10px;
  padding: 8px 25px;
  color: $white;
  background-color: $second-color;
  font-family: $font-heading;
  text-transform: uppercase;
  border: none;
  @include transition;
  @include font-size(1.8);

  &:after {
    content: '\f105';
    font-family: 'FontAwesome';
    margin-left: 10px;
    @include font-size(2.5);
  }

  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: $main-color;
  }

  &.gray {
    color: $gray;
    background-color: $light-gray;
     
    &:hover,
    &:focus,
    &:active {
      color: $white;
      background-color: darken($light-gray, 8%);
    }
  }
}

.module {
  position: relative;
  display: block;
  padding: 50px 0; 
  margin: 0;
  @include clearfix;

  h2 { margin-bottom: 10px; }

  .description {

    &.centered {
      padding-top: 150px;
      text-align: center; 
    }
  }

  &.gray { background-color: $light-gray; }

  &.module-noncontent { min-height: 500px; }
}

.module-default,
.module-single {

  h2,
  h3 { color: $default-text; }

  h2 {
    text-transform: uppercase;
  }

  h3 {
    text-transform: uppercase;
  }

  ul {
    margin-bottom: 20px;
    padding-left: 20px;
    list-style: disc;
  }
}

.thumb {
  outline: 1px solid $border-gray;
  border: 2px solid $white;
  margin: 5px 0;
  width: 100%;
  height: auto;
}

.thumb-container {
  @extend .thumb;
  @include aspect-ratio(4,3,false);
}

.left { float: left; }

.right { float: right; }

.social-icons {

  > li { text-align: center;

    a {
      display: block;
      width: 30px;
      height: 30px;
      padding-top:5px;
      color: $second-color;
      background-color: transparent;
      border: $second-color 1px solid;
      @include rounded(50%);
      @include font-size(1.6);

      .fa { margin-left: -2px; }

      .social-text { display: none; }

      &:hover,
      &:focus,
      &:active {
        color: $white;
        border-color: $white;
      } 
    }
  }
}

.error-404 {
  margin-top: 200px;
  text-align: center;
}

.acf-map {
  width: 100%;
  height: 18vw;
  min-height: 250px;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}

/* Google map transparent overlay link */
.map-overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 10;
}

/* CSS animations */
@-webkit-keyframes zoom {
    from { -webkit-transform: scale(1,1); }
    to { -webkit-transform: scale(1.4,1.4); }
}

@keyframes zoom {
   from { transform: scale(1,1); }
   to { transform: scale(1.4,1.4); }
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

@media only screen and (max-width: $breakpoint) {

  .container { width: 100%; }

  .desktop { display: none; }

  .mobile { display: block; }
}

@media only screen and (min-width: $breakpoint) {

  body { @include font-size(1.6); }

  h1 { @include font-size(2.8); }
  h2 { @include font-size(2.4); }
  h3 { @include font-size(2.2); }
  h4 { @include font-size(2); }
  h5 { @include font-size(1.8); }

}

@media only screen and (min-width: $desktop) {

  .container {
    width: 75%;
    max-width: 1170px;
  }

  body { @include font-size(1.8); }

  h1 { @include font-size(3.8); }
  h2 { @include font-size(3); }
  h3 { @include font-size(2.8); }
  h4 { @include font-size(2.2); }
  h5 { @include font-size(2); }
}
