/**************************************************************************************************
 *
 *  @Section: Header
 *
***************************************************************************************************/
$header-height: 150;
$navbar-header: $header-height;

header {
	
	.navbar {
		max-height: $header-height + px;
		background-color: rgba($light-gray, 0.95);
		@include transition;

		.mainbar { padding: 0;

			.container { position: relative; }

			.navbar-header {
				position: relative;
				width: 100%;
				min-height: $navbar-header + px;
				@include transition;

				.logo-wrapper {
					position: absolute;
					padding-bottom: 20px;
					display: inline-block;
					width: 480px;
					z-index: 1050;
					@include transition;
					@include centered-xy;
					top: 45%;

					img.logo {
						position: absolute;
						top: 0;
						left: 0;
						width: 100px;
						@include transition;
					}

					h1 {
						@include font-size(5);
						display: block; 
					}

					p {
						color: $main-color;
						font-family: $font-heading;
						@include font-size(1.6);
					}

					h1,
					p { margin: 0 0 0 120px; }

					a { display: block; }

					a:hover,
					a:focus,
					a:active { @include opacity(0.9); }
				}

				.navbar-toggle {
					position: absolute;
					right: 15px;
					margin: 0;
					padding: 12px 13px;
					background-color: $main-color;
					border: none;
					@include centered-y;

					.icon-bar { background-color: $white; }
				}
			}

			.navbar-collapse {
				border-color: transparent;
				@include transition;

				&.in { border-color: transparent; }

				.nav-main {
					width:  100%;
					border-color: transparent;
					background-color: $second-color;
					text-transform: uppercase;

					@media only screen and (min-width: $breakpoint) {
						
						& {
							position: absolute;
							min-height: 50px;
							width: 100%;
							float: none;
							display: flex;
							justify-content: space-between;
							align-items: center;
							align-content: center;
							@include centered-xy;
							top: 100%;
						}
					}

					> li {
						float: none;

						> a {
							position: relative;
							padding: 15px 0.5vw;
							color: $white;
							font-family: $font-heading;
							font-weight: 400;
							flex:1;
							@include font-size(1.4);

							&:hover,
							&:focus,
							&:active { 
								color: $main-color;
								background-color: transparent;
							}

							.caret {
								border-top: 6px dashed;
								border-top: 6px solid\9;
								border-right: 6px solid transparent;
								border-left: 6px solid transparent;
								margin-top: -3px
							}
						}

						&.active {

							> a { 
								color: $main-color;
								background-color: transparent;
							}
						}

						.dropdown-menu { background-color: $dark-second-color; 
						
							> li {

								> a {
									padding-top: 10px;
									padding-bottom: 10px;
									color: $white;
									@include font-size(1.4);

									&:hover,
									&:focus,
									&:active { 
										color: $main-color;
										background-color: transparent;
									}
								}
							}
						}
					}

					.open { 
						
						> a { background-color: transparent; }
					}
				}
			}
		}
	}

	& + .content-area { margin-top: $header-height + px; }
}

body.scrolling {

	$header-height: 80;
	$navbar-header: $header-height;

	header {

		.navbar { 
			max-height: $header-height + px;
			@include box-shadow;

			.mainbar {

				.navbar-header { min-height: $navbar-header + px;
			
					.logo-wrapper {
						@include centered-y;
						left: 0;
						width: 240px;
						
						img.logo { width: 60px; }

						h1 { @include font-size(2.2); }

						p { display: none; }

						h1 {
							margin: 15px 0 0 70px;
						}
					}

					.navbar-toggle { padding: 8px 7px; }
				}

				@media only screen and (min-width: $breakpoint) {

					.navbar-collapse {

						.nav-main {
							top: 50%;
							right: 0;
							background-color: transparent;
							justify-content: flex-end;

							> li {

								> a { 
									min-height: auto;
									color: $main-color;
									@include font-size(1.4);

									&:hover,
									&:focus,
									&:active { 
										color: $second-color;
										background-color: transparent;
									}
								}

								&.active {

									> a { 
										color: $second-color;
										background-color: transparent;
									}
								}
							}
						}
					}
				}
			}
		}

		& + .content-area { margin-top: $header-height + px; }
	}
}

@media only screen and (max-width: $tablet-portrait) {
	
	.navbar-collapse.collapse,
	.navbar-collapse.collapse.in { 
		margin-right: -15px !important;
		margin-left: -15px !important;
	}
}

@media only screen and (max-width: $breakpoint) {

	$header-height: 100;
	$navbar-header: $header-height;

	header {

		.navbar {

			.mainbar {
				
				.navbar-header {
					float: none;
					margin-right: 0px;
    				margin-left: 0px;
			
			
					.navbar-toggle { display: block; }
				}

				.navbar-collapse {
					margin-right: -15px;
					margin-left: -15px;
					padding: 0;
					border-top: none;


					&.collapse { display: none !important; 

						&.in { 
							display: block !important;
							height: auto;
							max-height: calc(100vh - #{$header-height + px});
							overflow-x: hidden;
						}
					}

					.search-container {
						position:  relative;
						padding: 10px 20px;
						background-color: $dark-main-color;
						top: auto;
						@include transform(none);

						&:before { display: none;}

						.search-form {
							
							.search-field {
								width: calc(100% - 35px);
								padding-top: 10px;
    							padding-bottom: 10px;
							}
						}
					}

					.nav-main {

						> li {

							> a { padding-left: 20px; 
								
								.caret {
									position: absolute;
									right: 20px;
									@include centered-y;
								}
							}

							&.dropdown.open > a {
								
								.caret { @include transform( rotate(180deg) ); }
							}
						}

						li { float: none;
						
							a {
								color: $white;
								padding-top: 15px;
								padding-bottom: 15px;
								margin: 0;
								min-height: auto !important;

								&:hover,
								&:focus,
								&:active {
									color: $main-color;
									background-color: $dark-second-color;
									border: none;
								}

								&:after { display: none; }
							}

							.dropdown-menu {
								position: relative;
								width: 100%;
								background-color: $dark-second-color;
								border: none;
								box-shadow: none;
							}

							&.active {

								&.dropdown { background-color: $dark-second-color; }

								> a {
									border-bottom: none;
									background-color: transparent;
								}
							}
						}
					}
				}
			}
			
			.navbar-nav {
				float: none!important;
				margin: 0;
			}
		}

		& + .content-area { margin-top: $header-height + px; }
	}
}
