//## Variables.

// Main colors.
$white:							#FFFFFF;
$black:							#000000;
$gray:							#494748;
$light-gray:					#dadada;
$dark-gray:						#262325;
$border-gray:					#d8d8d8;

// Custom colors.
$main-color:					#33335a;
$light-main-color:				#5c6074;
$dark-main-color:				#12121a;
$second-color:					#298741;
$light-second-color:			#5db775;
$dark-second-color:				#0d672f;

// Default text.
$default-text:                  #4a4a4a;
$link-text:                     $light-second-color;
$link-text-hover:               $dark-second-color;

// Media query breakpoints.
$breakpoint:					992px;
$tablet-landscape:				1024px;
$tablet-portrait:				768px;
$mobile:						480px;
$desktop:						1200px;
$large-desktop:					1600px;

// Fonts.
$font-default: 					'Open Sans', sans-serif;
$font-heading: 					'Oswald', sans-serif;
