/**************************************************************************************************
 *
 *  @Section: Module - Content Boxes
 *
***************************************************************************************************/
.module.module-content-boxes {

	.content-boxes-container {
		@include clearfix;

		ul {

			li.item-callout { position: relative;

				.item-link { 
					display: inline-block;
					width:  100%;
					
					&:hover,
					&:focus,
					&:active {

						.headline { text-decoration: underline; }

						.item-image-container {

							img { @include transform(scale(1.2) rotate(3deg));}
						}
					}

					p { color: $default-text; }
				}

				.item-image-container {
					position: relative;
					width: 55%;
					overflow: hidden;

					img { @include transition; }
				}

				.item-text-container {
					position: absolute;
					width: 45%;
					@include centered-y;

					.card-heading { margin: 20px auto; }

					&.left { padding-right: 20px; }

					&.right {
						padding-left: 20px;
						right: 0;
					}
				}

				&.rounded-img { margin-bottom: 50px;

					.item-text-container { width: calc(95% - 300px);

						&.right { right: 0; }
					}

					.item-image-container {
						width: 300px;
						height: 300px;
						overflow: hidden;
						z-index: 1;
						@include rounded(50%);

						img {
							position: absolute;
							margin: auto;
							width: auto;
							height: 100%;
							min-width: 100%;
							@include centered-x;
						}
					}
				}

				&.video {
					@include clearfix;

					iframe {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						z-index: -1;
					}

					.item-image-container { 
						cursor: pointer;
						
						&:before {
							position: absolute;
							display: block;
							content: '\f16a';
							font-family: 'fontawesome';
							color: $white;
							@include font-size(6);
							@include centered-xy;
							@include transition;
							@include opacity(0.5);
						}

						&:hover {

							 &:before { @include opacity(0.8); }
						}

						&.playing {

				            img { visibility: hidden; }

				            iframe { z-index: 10; }

				            &:before { display: none; }
				        }
					}
				}
			}
		}

		&.no-gutter {
			
			ul {

				li.item-callout {

					.item-link {
						
						p { color: $white; }
					}

					.item-image-container { 
						width: 65%;
						height: 350px;
						overflow: hidden;

						img {
							position: relative;
							display: block;
							@include centered-y;
							@include opacity(0.75);
						}
					}

					.item-text-container { width: 35%;

						.card-heading {

							.tagline,
							.headline,
							p {
								color: $white;
								text-align: center;
							}

							.headline {
								padding-bottom: 0;

								&:before,
								&:after { display: none; }
							}
						}

						&.left,
						&.right { padding: 0 20px; }
					}

					&:nth-child(odd) { background-color: $second-color; }

					&:nth-child(even) { background-color: $main-color; }
				}
			}
		}
	}

	.module-button-container {
		margin-top: 50px;
		text-align: center;
	}
}

@media only screen and (max-width: $breakpoint) {
	
	.module.module-content-boxes {

		.content-boxes-container {

			ul {

				li.item-callout { margin-bottom: 20px;

					.item-image-container,
					.item-text-container {
						float: none;
            			width: 100%;
					}

					.item-text-container {
			            position: relative;
			            margin: auto;
			            top: inherit;
			            @include transform(inherit);

						.card-heading { margin: 20px auto; }

						&.left { padding-right: 0; }

						&.right { padding-left: 0; }
					}

					&.rounded-img { margin-bottom: 50px;

						.item-text-container { width: 100%;

							&.right { right: 0; }

							.tagline,
							.headline { text-align: center; }
						}

						.item-image-container { margin: 0 auto 30px; }
					}
				}
			}

			&.no-gutter {
			
				ul {

					li.item-callout {

						.item-image-container { 
							width: 100%;
							height: 250px;
						}

						.item-text-container { width: 100%;	}
					}
				}
			}
		}
	}
}