/**************************************************************************************************
 *
 *  @Section: Module - Grid
 *
***************************************************************************************************/
.module.module-grid {
	background-color: $second-color;

	.full-width {
		position: relative;
		width: 100%;
	}

	.item {

		&.card-post-post,
		&.grid-post-post {

			a.item-link { color: lighten($light-second-color, 30%);

				&:hover,
				&:focus,
				&:active { color: darken($dark-second-color, 10%); }	
			}
		}
	}

}

